
* {
  margin: 0;
  box-sizing: border-box;
  padding: 1px;
}

body {
  background-color: #fff;
}

.main {
  width: 100%;
  height: auto;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.menu-bar {
  display: flex;
  position: absolute;
  width: 100%;
  height: 70px;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  top: 0;
}

.logo {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  align-items: center;
  color: #6070ff;
  flex: 1;
  width: 76px;
  height: 20px;
  line-height: 20px;
  display: flex;
}

.bar {
  margin: 5px;
  height: 3px;
  width: 30px;
  display: block;
  background-color: #6070ff;
}

.menu ul {
  display: none;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 50px 24px;
  background-image: url('img/header-shapes\ mobile@2x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
}

.header {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  width: 100%;
  color: #172b4d;
}

.text {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: hwb(217 34% 52%);
}

.connect a {
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
}

.social-connect ul {
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

li {
  list-style: none;
  padding: 10px;
}

.cards {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.card-work {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  padding: 20px;
  align-items: center;
  border: 1px solid #def1e6;
  border-radius: 16px;
  margin-bottom: 20px;
}

.left-block {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 12px;
  width: 100%;
  margin-top: 10px;
  left: 16px;
}

.snapshot {
  width: 100%;
  height: 220px;
  border-radius: 8px;
  background-image: url("img/Snapshoot\ Portfolio.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  padding: 100px;
}

.snapshot1 {
  width: 100%;
  height: 220px;
  border-radius: 8px;
  background-image: url("img/Snapshoot\ Portfolio\ \(1\).jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.snapshot2 {
  width: 100%;
  height: 220px;
  border-radius: 8px;
  background-image: url("img/Snapshoot\ Portfolio\ \(2\).jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.snapshot3 {
  width: 100%;
  height: 220px;
  border-radius: 8px;
  background-image: url("img/Snapshoot\ Portfolio\ \(3\).jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.text-title {
  width: 100%;
  position: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #172b4d;
  padding: 5px 0;
}

.small {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #172b4d;
  height: 16px;
  display: inline;
}

.experiance {
  display: inline;
  width: 100%;
  justify-content: space-between;
}

.block li {
  color: #7a869a;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  display: inline;
}

.block {
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  display: inline;
}

.explain {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  top: 136px;
}

.tags {
  display: flex;
  flex-direction: row;
  height: 24px;
  gap: 8px;
  margin-bottom: 5px;
  justify-items: flex-start;
}

.tags li {
  list-style-type: none;
  color: #6070ff;
  background-color: #ebebff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 4px 12px;
  border-radius: 8px;
  letter-spacing: 0.03em;
}

.btn {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 12px;
  width: 124px;
  left: 0;
  top: 700;
  border: 1px solid #6070ff;
  border-radius: 8px;
  text-align: center;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}

.btn:hover {
  background-color: #6070ff;
  color: #fff;
}

.btn:active {
  background: #2230d2;
  color: #fff;
}

.card-work_desktop {
  display: none;
}

.about-myself {
  width: 100%;
  height: 1300px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 24px;
  border-top-right-radius: 70px;
}

.top-left h1 {
  width: 100%;
  height: 101px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.top-left p {
  width: 100%;
  height: 144px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.top-left a {
  margin-top: -22px;
  text-decoration: none;
}

.btn1 {
  display: flex;
  flex-direction: row;
  padding: 12px;
  gap: 10px;
  width: 162px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #396df2;
  letter-spacing: 0.03em;
}

.btn1:hover {
  background-color: #6070ff;
  color: #fff;
}

.btn1:active {
  background: #2230d2;
  color: #fff;
}

.top-right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top-right .skill {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 327px;
  height: 465px;
  top: 547px;
  left: 24px;
}

.top-right .lang-skill {
  padding: 20px 0;
}

.lg {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-style: none;
  font-style: normal;
}

.down {
  display: flex;
  flex-direction: row;
  width: 20px;
  margin-left: 90%;
  margin-top: -20px;
}

.show-skill ul {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.show-skill li {
  width: 100%;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  color: #253858;
  margin-bottom: 10px;
}

.lang-img {
  width: 48px;
  height: 48px;
  margin-left: 8px;
}

.frame-ls ul {
  padding: 20px 0;
}

.frame-ls li {
  padding: 20px;
  margin-bottom: 2px;
  display: inline-block;
}

.more-skill {
  padding: 0;
}

.divider1,
.divider2 {
  margin-top: 35px;
}

.span {
  padding: 10px;
}

.contact-form {
  width: 100%;
  height: auto;
  background-color: #6070ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 70px;
  background-image: url('img/contact\ form\ background\ shapes.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: fixed;
  margin-top: -60px;
}

.contact-info h2 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  left: -213px;
  color: #fff;
  padding: 24px;
  margin-top: 100px;
  margin-bottom: -10px;
}

.contact-info p {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  left: 24px;
  color: #fff;
  font-style: normal;
  padding: 15px;
  margin-top: 20px;
}

.contact_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
  padding: 20px;
}

.contact_form input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding: 24px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

.contact_form input::placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #172b4d;
}

.contact_form textarea {
  height: 170px;
}

.contact_form textarea::placeholder {
  font-family: 'Poppins'sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

.contact_form button {
  padding: 24px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 5px;
  height: 24px;
  text-align: center;
  color: #6070ff;
}

.contact_form button:hover {
  background-color: #6070ff;
  color: #fff;
}

.contact_form button:active {
  background: #2230d2;
  color: #fff;
}

.contact-form:active::after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
